.ceep{
    padding: 16px 0px 0px 16px;
    font-size: 35px;
}

.caixa{
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background: #963535;
    font-family: 'Inter', sans-serif;
    color: #ffffff
}

.caixa2{
    height: 70px;
    width: 100%;  
    background: #d9d9d9;
}

.nav{
    text-align: left;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    display: inline-block;
    margin-right: 10px;
  
}

.dropbtn {
    background-color: #d9d9d9;
    color: #963535;
    padding: 25px 1px 1px 1px;
    font-size: 20px;
    border: none;
    font-family:  'Sansation', sans-serif;
  }

  .cursos{
    margin-left: 15px;
  }
  
  .triangle {
    display: inline-block;
    width: 0;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #963535;
    rotate: 180deg;
    margin: 0 0 2px 10px;
   }

.line {
    border: 1px solid;
    height: 40px;
    width: 0px;
    color: #aaaaaa;
    display: inline-flex;
    margin: 15px 0px -15px 15px;
  }

#cursos:hover {
    background-color: #d9d9d9;
    }
.dropdown {
    position: fixed;
    display: block;
    background-color: aqua;
}

.dropdown-child {
    margin-top: 22px;
    display: none;
    background-color: #d9d9d9;
    min-width: 139px;
    font-family:  'Sansation', sans-serif;
    font-size: 18px;
}
.dropdown-child a {
    color: #963535;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

 
