.caixa{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #963535;
    padding: 20px 0;
}

.caixa2{
    position: relative;
    width: 100%;
    margin: 20 auto;
    background: #d9d9d9;
    padding: 20px 0;
}